@font-face {
    font-family: main;
    src: url("fonts/main.otf") format("opentype");
  }

body {
  background-color: #68b0ab;
  font-family: main;
  color: #ecf4f3;

}


.header {
  font-size: 100px;
  margin: 25px;
  padding: 25px;
  border: 4px solid #ecf4f3;
  border-radius: 100px;
  position: relative;
  display: inline-block;
}

.content {
  text-align: center;
  padding: 150px;
}

.content-header {
  font-size: 50px;
}

input:focus {
  outline: 0;
}

#inp {
  font-size: 26px;
  border-radius: 100px;
  padding: 10px;
  border: none;
  transition: 0.1s;
}

#btn {
  background-color: #ff7e67;
  border: 4px solid #ecf4f3;
  padding: 15px 32px;
  display: inline-block;
  font-size: 16px;
  border-radius: 100px;
  color: #ecf4f3;
  transition: 0.1s;
}

#btn:hover {
  font-size:18px;
  transition: 0.1s;
}


#inp:focus {
  padding: 16px;
  transition: 0.1s;
  font-size: 27px;
}

p {
  font-size: 55px;
}
